body {
    font-family: 'Nunito';
    font-size: 22px;
    margin: 0;
    padding: 0;
    letter-spacing: 1.3px;
    background-image: linear-gradient(170deg, #8b4d4d, #272727);
}

* {
   box-sizing: border-box; 
}


table {
    line-height: 200%;
    width: 300px;
    height: 200px;
    border-top: 5px solid #272727;
    color: black;
    font-weight: bold;
}

table th {
    text-align: left;
    color: black;
}


h1 {
    color: black;
}

h3 {
    color: black;
    font-size: 34px;
    font-weight: 900;
    margin: 0;
}

p {
    color: #272727;
    font-weight: bold;
    margin: 0;
}

.sup_element {
    color: red;
}

article small {
    color: #272727
}


footer strong {
    text-decoration: underline wavy red;
}

mark {
    border-radius: 5px;
}

div#main-content {
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}

a:hover {
   color: red; 
}

a {
    color: black;
}

article {
   margin-bottom: 80px; 
}
#articles {
    flex-grow: 1;
}
#skills {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

footer {
    left: 0;
    bottom: 0;
    padding:20px;
    text-align: center;
    width: 100%;
    background-color: #3a3a3a;
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {
    footer {
        position: fixed;
    }
}

@media screen and (max-width: 600px) {
    div#main-content, header {
        flex-direction: column;
    }
}
